
bower_components/
node_modules/
.pulp-cache/
output/
output-es/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
src/
test/
# for local development
migrations/
# for local development
queries/
# for local development
context/
# for local development
schema/
# for local development
typescript/
# for local development
oooooooooorrrrrrrmm.config.json